<div class="container-fluid">
<p style="font-size: 15px;">Previous Projects</p>
<div class="container-fluid">
    <div  class="container" *ngFor="let proj of project">
        <div class="pr">

        <a class="project" [href]="proj.href" target="_blank">
            <div style="display: flex;">
<br>
        <h3 >{{proj.title}}</h3>
 

    </div>
        <p class="text-capitalize">{{proj.desc}}</p>
    

 
    </a>

</div>
<!-- <div class="col-2">
    <br><br>

</div> -->
    </div>
</div>
</div>
