<div class="comm">
    <div class="prompt">
        <span class="user">notroot</span>@<span class="host">localhost</span>
        <span class="prompt-symbol">$</span>
        <div class="input">
            <a class="input-text">{{cmd.name}}</a>
        </div>
    </div>
    <br>
    <div class="info">
        <app-l-projects *ngIf="cmd.name == 'projects'"></app-l-projects>
        <app-l-skills *ngIf="cmd.name == 'skills'"></app-l-skills>
        <div *ngIf="cmd.name == 'about'">
            <br>
            I am a 10th Grade Student with keen Interest in Computer Science and Robotics. My Journey Began with Robotics when I was in class 6. I have Learned Arduino and Raspberry Pi Based Robotics. Then in 2020 when Lockdown Started, Everything started happening online, I introduced myself to Programming, first i started with Web Development.
        
            I am currenty a Frontend-Web Developer with a little bit knowledge of Backend.
            
            
            <br></div>
        <div *ngIf="cmd.name == 'contact'"><br>
            <p><a href="mailto:ashwathmittal@gmail.com" class="btn" target="_blank" style="text-decoration: none;">Mail Me</a></p>
            <h4>Also Follow Me On: <a href="https://github.com/AshwathMittal">GitHub</a></h4>
        </div>
        <div class="help" *ngIf="cmd.name == 'help'">
            <div class="container-fluid">
                <ul>
                    <li>[0]: Display This help Menu => <b><u>help</u></b></li>
                    <li>[1]: See My Skills =>  <b><u>skills</u></b></li>
                    <li>[2]: See My Previous Projects =>  <b><u>projects</u></b></li>
                    <li>[3]: About Me =>  <b><u>about</u></b></li>
                    <li>[4]: Contact Info =>  <b><u>Contact</u></b></li>
                    <li>[5]: Resest terminal =>  <b><u>clear</u></b></li>
                    <li>[6]: Go Back To Normal View =>  <b><u>exit</u></b></li>
                </ul>
            </div>
        </div>
</div>
</div>