.float {
  display: inline-block;
  /* justify-content: flex-end; */
  width: 100%;
  /* padding: 25px; */
}
.fiverr{
  color: #fff;
  /* float: left; */
  background-color: #1dbf73;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border: none;
  padding: 15px 35px;
  margin-left: 5;
  margin-top: 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  box-sizing: border-box;
  
  -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s,
    border 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}
.btn-terminal {
  float: right;
}

.btn-project {
  background-color: #1dbf73;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border: none;
  padding: 15px 35px;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s,
    border 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

.btn-project:hover {
  background: rgb(72, 49, 212);
  color: #1dbf73;
  animation: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

.blob {
  margin-top: 55px;
  width: 100%;
  margin-bottom: -20px;
}
.home-page {
  color: hsl(150, 6%, 94%);
  min-height: 100vh;
  background: linear-gradient(#04091ecc, #04091e66), #000;
  /* padding: 10px; */
  width: 100%;
}

.menu-left {
  /* z-index: 1; */
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  /* width: 100%; */
  float: left;
  align-items: flex-start;
}

.menu-list-item {
  display: flex;
  font-size: 7rem;
  line-height: 9rem;
  letter-spacing: -2px;
  font-weight: 700;
  color: #fff;
}
.menu-right {
  float: right;
  width: 45%;
  padding-right: 15px;
}

.why-are-you-here {
  font-weight: 500;
  letter-spacing: 1px;
}

.section-2 {
  display: inline-block;
  background: rgb(72, 49, 212);
  position: relative;
  margin-top: -5px;
}

.container {
  margin: 15px;
  padding: 10px;
}

.heading {
  font-size: 3rem;
  letter-spacing: -2px;
  font-weight: 700;
  color: #fff;
}

.know {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.card h3 {
  font-size: 2rem;
  /* line-height: 9rem; */
  letter-spacing: -2px;
  font-weight: 700;
  color: #fff;
  display: flex;
}

.card {
  width: 45%;
  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.card p {
  padding-left: 15px;
  margin-bottom: 25px;
}

.blob2 {
  width: 100%;
  transform: scaleY(-1);
  margin-bottom: 0px;
  margin-top: -1px;
}

@media screen and (max-width: 1000px) {
  .menu-left {
    max-width: 60%;
    position: relative;
  }
  .menu-right {
    width: 100%;
    padding: 15px;
  }
  .menu-list-item {
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: -2px;
  }
  .blob {
    width: 100%;
    margin-bottom: -2px;
  }
  .heading {
    line-height: 5rem;
  }
  .card {
    width: 100%;
  }
  .know {
    display: block;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background: linear-gradient(#04091ecc,#04091e66); */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* .overlay a:hover
{
  color: #0066ff;
}  */

.github svg:hover {
  height: 128px;
  width: 128px;
  z-index: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;   
}  

.github svg, .twitter svg, .mail svg {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;   
}
.twitter svg:hover {
  height: 128px;
  width: 128px;
  z-index: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  fill: rgb(29,155,240);
}

.mail svg:hover{
  height: 128px;
  width: 128px;
  z-index: 1;
  /* fill: #fff; */
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  fill: rgb(234,67,53);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.flLgkI {
  /* padding-left: 25px; */
  background: transparent;
  border: 0px;
  float: left;
  margin-top: 30px;
}
.hamburger {
  position: relative;
  width: 20px;
  height: 4px;
  background: rgb(255, 255, 255);
}
.hamburger::before {
  top: -12px;
}
.hamburger::after {
  top: 12px;
}
.hamburger-one::before,
.hamburger-one::after {
  position: absolute;
  right: 0px;
  content: "";
  width: 30px;
  height: 4px;
  background: rgb(43, 255, 136);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

.whole{
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

.child{
  scroll-snap-align: start;
}