    
   
    <p   style="font-size: 70px;">Hi!</p>
    

    
<div class="container ">


    <br>
   
        
    <p  style="font-size: 35px;" >About Me</p>
    <div class="container-fluid text-capitalize">  
        My Name Is <u class="invert">Ashwath Mittal</u>. I am a 10th Grade Student with keen
         Interest in <a href="#">Computer Science</a> and <a href="#">Robotics</a>. My Journey Began with Robotics when I was in class 6. 
         I have Learned <a href="#">Arduino</a> and <a href="#">Raspberry Pi</a> Based Robotics.
        Then in 2020 when Lockdown Started, Everything started happening online, while other kids were busy watching netflix all day  
        I introduced myself to Programming, first i started with <a href="#">Web Development</a>.
         After that I tried to get started with <a href="#">Ethical Hacking</a>, but it was something I
          could not do at that time but this helped me get fair experience with <a href="#">Python</a> and 
          <a href="">Linux</a>.
         Going forward in my journey I learned Raspberry Pi. <br>
         Now currently I am Learning Python and have decided to go in the feild of <a href="">Data Science</a>.

    </div>
    <br><br>
    <!-- <p style="font-size: 35px;">Social Links</p> -->


    <br><br>

  
        <p
          style="font-size: 35px;" >
        My Skills
    </p>
    <div class="container-fluid">
        <ul class="">
            <li *ngFor="let skill of skills" class="list-group-item"><u style="font-size: 30px;">{{skill.name}}</u> <br><b>Experience:</b> {{skill.experience}}<br><b [ngClass]="{'invisible': !skill.itof }">Frameworks / Languages / Tool I know:</b> {{skill.tools}} </li>
          </ul>
        </div>

    <br><br>

<app-projs></app-projs>
</div>
<app-my-foot></app-my-foot>


