.float{
    display: inline-flex;
    justify-content: flex-end;
    margin-top: -20px;
	width: 100%;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 65px;
	background: linear-gradient(90deg, rgba(76,102,204,1) 0%, rgba(193,38,203,1) 100%);
	padding: 5px;
}
.navbar-brand{
	padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;text-decoration:none;white-space:nowrap;
	background: -webkit-linear-gradient(45deg, rgb(1, 191, 113) 0%, rgb(43, 210, 255) 52%, rgb(43, 255, 136) 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navbar-brand img{
	display:inline-block!important;
	vertical-align:text-top!important;
	font-size: 72px;

}
.btn-project{
	background-color: #1dbf73;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
    margin: 0;
	text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
    transition: color .2s,background-color .2s,box-shadow .2s,border .2s;
}

.btn-project:hover{
	 background: rgb(72,49,212);
	color: #1dbf73; 
	animation: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
	
}

.blob{
	margin-top: 55px;
	width: 100%;
	margin-bottom: -20px;
}
.home-page{
	color: hsl(150,6%,94%);
	min-height: 100vh;
	background: linear-gradient(#04091ecc,#04091e66), #000;
	/* padding: 10px; */
	width: 100%;
}

.Menu{
	display: inline-block;
}


.menu-left {
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
	/* width: 100%; */
	float: left;
    align-items: flex-start;
}

.menu-list-item {
    display: flex;
    font-size: 7rem;
    line-height: 9rem;
    letter-spacing: -5px;
    font-weight: 700;
    color: #fff;
}
.menu-right{
	float: right;
	width: 45%;
}


.why-are-you-here{
	font-weight: 500;
	letter-spacing: 1px;	
}

.section-2{
	display: inline-block;
    background:rgb(72,49,212);
    position: relative;
	margin-top: -5px;
}

.container{
	margin:15px;
	padding: 10px;
}

.heading{
	font-size: 3rem;
    line-height: 9rem;
    letter-spacing: -2px;
    font-weight: 700;
    color: #fff;
}

.know{
	--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x))
}

.card h3{
	font-size: 2rem;
    /* line-height: 9rem; */
    letter-spacing: -2px;
    font-weight: 700;
    color: #fff;
	display: flex;
}

.card{
	margin: 10px;
	padding: 25px;
	width: 45%;
}

.card p{
	padding-left: 15px;
}

.blob2{
	width: 100%;
	transform: scaleY(-1); 
	margin-bottom: 0px;
	margin-top: -1px;
}


@media screen and (max-width: 1000px) {
	.menu-left{
		width: 100%;
		position: relative;
	}
	.menu-right{
		width: 100%;
		padding: 15px;
	}
	.menu-list-item{
		font-size: 3rem;
		line-height: 5rem;
		letter-spacing: -2px;
	}
	.blob{
		width: 100%;
	margin-bottom: -2px;
	}
	.heading{
		line-height: 5rem;
	}
	.card{
		width: 90%;
	}
	.know{
		display: block;
	}
}


/* .button {
	position:absolute;
	top:10;
	right:15;
	background: transparent;
	color: white;
	font-size: 1.5rem;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	letter-spacing: -1px;
	font-weight: 700;
} */