<div class="sticky-top">
<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src="boy.png" alt="Logo"  class="d-inline-block align-text-top">
      
      Ashwath Mittal
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="">Home</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link link" aria-current="page"  routerLink="contact">Contact Me</a>
        </li>

      </ul>
    </div>
    <!-- width="30" height="24" -->
  </div>
  <div  >
    <a  class="btn btn-block btn-social btn-dark" href="https://github.com/AshwathMittal">
      <i class="fa fa-github"></i> Follow Me On GitHub
    </a>
    </div>
</nav>

</div>
<!-- [ngClass]="{'hidden': deviceinfo}" -->
<div class="float" >
  <b style="margin-right: 10px;">Terminal Mode:</b>
<!-- <div class="float-right"> -->
    <input type="checkbox" id="switch" (change)="terminal()" /><label for="switch">Toggle</label>
  <!-- </div> -->
</div>

   
    <p   style="font-size: 70px;" class="tw"></p>
    

    
<div class="container ">
  <br>
        <button class="btn-fiverr" ><a style="text-decoration: none;color: #fff;"href="https://www.fiverr.com/ashwatthmittal/">Hire Me</a></button>

    <br>
    <br>
   
    <p  style="font-size: 35px;"  class="tw1">About</p>
    <div class="container-fluid text-capitalize">  
        My Name Is <u class="invert">Ashwath Mittal</u>. I am a 10th Grade Student with keen
         Interest in <a href="#">Computer Science</a> and <a href="#">Robotics</a>. My Journey Began with Robotics when I was in class 6. 
         I have Learned <a href="#">Arduino</a> and <a href="#">Raspberry Pi</a> Based Robotics.
        Then in 2020 when Lockdown Started, Everything started happening online, while other kids were busy watching netflix all day  
        I introduced myself to Programming, first i started with <a href="#">Web Development</a>.
         After that I tried to get started with <a href="#">Ethical Hacking</a>, but it was something I
          could not do at that time but this helped me get fair experience with <a href="#">Python</a> and 
          <a href="">Linux</a>.
         Going forward in my journey I learned Raspberry Pi. <br>
         Now currently I am Learning Python and have decided to go in the feild of <a href="">Data Science</a>.

    </div>
    <br><br>
    <!-- <p style="font-size: 35px;">Social Links</p> -->


    <br><br>

  <app-skills></app-skills>

<app-projs></app-projs>
</div>
<app-my-foot></app-my-foot>
