
    <!-- <div  class="position-relative"> -->
        <div class="container-fluid">
        <br><br>
        <h3 class="container">You Can Contact Me Through:</h3>
        <br><br>
            <!-- <div class="container-fluid"> -->
        <a href="https://discord.gg/uK3M55eZGq"  target="_blank" class="socio centered"> <img src="discord.png" height ="32" width = "32" alt="Discord"> Discord</a>
    <br><br>
        
        <a href="mailto:ashwathmittal@gmail.com" class="socio centered" target="_blank"> <img src="gmail.png" height ="32" width = "32" alt="E-Mail"> E-Mail</a>
    <br><br><br>
            <!-- <h3 class="container">Other Social Profiles:</h3>
            <br>
            <a href="https://github.com/AshwathMittal/"  target="_blank"class="socio centered"> <img src="github.png" height ="32" width = "32" alt="GitHub"> GitHub</a> -->

    </div>
<!-- </div> -->
    <!-- </div> -->
