
::-moz-selection { /* Code for Firefox */
    background: #F7A307;
    

  }
  
  ::selection {
      background: #E67E22;
  }

  .socio{
      color: black;
      /* background-color: #f44336; */
      padding: 14px 25px;
      margin-right: 10px;
      margin-top: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: black;
      border-style: solid;
    }

.socio:hover {
    /* background-color: yellow; */
    /* animation: upp 1s; */
    transform: translateY(-15%);

    transition: 0.5s ease-in-out;
    box-shadow: 14px 25px  #888888;
    
  }
  @keyframes upp {
      from{
        transform: translateY(0%);
      }
      to{
      }
  }