.loading{
  width: 100%;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 50%;
  position: absolute;
}
::-moz-selection { /* Code for Firefox */
    background: #F7A307;
    

  }

  ::selection {
      background: #df791f;
}
.project{
  text-decoration: none;
}
.project h3{
  color: black;
}
.project p{
  color: #444;
}
  .socio{
    color: black;
    /* background-color: #f44336; */
    padding: 14px 25px;
    margin-right: 20px;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: black;
    border-style: solid;
  }  
  .pr{
    color: black;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
    /* text-align: justify; */
    text-decoration: none;
    display: inline-block;
    border: black;
    border-style: solid;
  }

.socio:hover {
  transition: 0.5s ease-in-out;

    /* background-color: yellow; */
    /* animation: upp 1s; */
    transform: translateY(-15%);

    box-shadow: 14px 25px  #888888;
    
  }

::-webkit-scrollbar {
    width: 5px;
    background-color: #9b9898;
}

::-webkit-scrollbar-thumb{
  background-color: #444;
}

.centered{
margin-left: 25%;
}

.typing{
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}
