
<div class="container">
<p style="font-size: 35px;">Previous Projects</p>
 
<div class="container-fluid">
        <div  class="container" *ngFor="let proj of project">
            <div class="pr ">

            <a class="project" [href]="proj.href" target="_blank">
                <div style="display: flex;">
            <img [src]="proj.src" alt="Sorry The Image did not load"  style="margin-right: 10px;" height="32px" width="32px">
<br>
            <h3 >{{proj.title}}</h3>
     

        </div>
            <p class="text-capitalize">{{proj.desc}}</p>
        

     
        </a>
    
    </div>
    <!-- <div class="col-2">
        <br><br>
  
</div> -->
        </div>
    </div>
    </div>

    <br>
 