<p style="font-size: 35px;">My Past Work</p>
    <!-- <div class="pr"> -->
        <div class="row" *ngFor="let proj of project">
            <div class="col-8 pr">

            <a class="project" [href]="proj.href" target="_blank">
            <h1>{{proj.title}}</h1>
          
            <p>{{proj.desc}}</p>
        

     
        </a>
    
    </div>
    <div class="col-2" style="margin-left: 100px;">
        <br><br>
    <img [src]="proj.url" alt="Sorry The Image did not load" height="128">
</div>
        </div>
    <!-- </div> -->
    <br>
 